body{
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: "宋体";
    font-size: 12px;
    color: #333333;
    line-height: 150%;
}
a{
    color: #f5651f;
}
a:hover{
    color: #ff3399;
}
ul{
    margin:0;
    padding: 0;
}
ul:li{
    list-style: none;
}
.clear{
    clear:both;
}
#banner{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 993px;
    height:319px;
    background: url(../images/banner.jpg)no-repeat left top;
}
#mmbanner{
    padding: 10px 0 0 85px;
}
#title{
    float: left;}
#title a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
#title a:hover{
    color: #f5651f;
}
#url{float: left;}
#url a{
    margin: 0 0 0 16px;
    color: #ffffff;
}    
#url a:hover{
    color: #f5651f;
}
#desc{
    clear: left;
    margin: 5px 0 0 20px;
    color: #ffffff;
}
#menu{
    margin-left:auto;
    margin-right: auto;
    width: 993px;
    height: 166px;
    background: url(../images/menu.jpg)no-repeat left top;
}
#mmmenu{
    float: right;
    width: 500px;
    margin: 10px 0 0 0;
}
#mainnav{
    float: left;
}
#mainnav li{
    float: left;
    list-style: none;
    padding: 48px 0 0;
}
#mainnav li a{
    padding: 48px 12px 0;
    background-position: center top;
    background-repeat:no-repeat;
    color: #e7ebef;
    text-decoration: none;
}
#mainnav li a:hover{
    color: #f5651f;
    background:none;
}
.navhome{background-image: url(../images/home.gif);}
.navblog{background-image: url(../images/blog.gif);}
.navphoto{background-image: url(../images/img.gif);}
.navmusic{background-image: url(../images/sound.gif);}
.navvideo{background-image: url(../images/video.gif);}
.navprofile{background-image: url(../images/profile.gif);}
.navfriend{background-image: url(../images/video.gif);}
.navres{background-image: url(../images/friend.gif);}